*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
#form_container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(253, 143, 143, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
#form_container form{
    padding: 5%;
    background-color: rgba(5, 37, 64, 0.77);
    color: white;
}
#form_container form input, textarea{
    width: 100%;
}
#form_container form label{
    width: 60%;
    display: inline;
}